# Peer-graded Assignment: Build a Regression Model in Keras

# Download and Clean Dataset

Let's start by importing the pandas and the Numpy libraries.

In [8]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

Let's read the dataset into a pandas dataframe.

In [9]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [10]:
concrete_data.shape

(1030, 9)

In [11]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [12]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into predictors and target

In [13]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != "Strength"]] # all columns except Strength
target = concrete_data['Strength']

In [14]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [15]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [16]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# Import Keras

In [17]:
import keras

import packages

In [18]:
from keras.models import Sequential
from keras.layers import Dense

In [25]:
# define regression model
def regression_model():
#     create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
#     compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Split the data into a training and test sets by holding 30% of the data for testing

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

# Train and Test the Network

In [26]:
# build the model 
model = regression_model()

train the model for 50 epochs

In [28]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 5ms/step - loss: 4874.0063
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 2833.4866
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 2170.4270
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 1736.7855
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 1378.1815
Epoch 6/50
23/23 [==============================] - 0s 3ms/step - loss: 1092.8413
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 868.1128
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 692.0427
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 567.7352
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 475.7837
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 408.4825
Epoch 12/50
23/23 [==============================] - 0s 3ms/step - loss: 358.1604
Epoch 13/50
23/23 [==============================] - 0s 3ms/step - loss: 321.4588
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 291.9852
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 268.4529
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 249.9951
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 233.2663
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 220.0322
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 204.5475
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 194.5212
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 185.6875
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 177.7918
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 168.7786
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 161.9628
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 155.8743
Epoch 26/50
23/23 [==============================] - 0s 3ms/step - loss: 150.6463
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 145.7729
Epoch 28/50
23/23 [==============================] - 0s 3ms/step - loss: 143.2528
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 138.0039
Epoch 30/50
23/23 [==============================] - 0s 3ms/step - loss: 135.8371
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 132.3835
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 131.0591
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 127.4973
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 124.8307
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 123.1635
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 121.0810
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 120.0294
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 116.9494
Epoch 39/50
23/23 [==============================] - 0s 3ms/step - loss: 117.1701
Epoch 40/50
23/23 [==============================] - 0s 3ms/step - loss: 114.9660
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 114.8954
Epoch 42/50
23/23 [==============================] - 0s 3ms/step - loss: 113.3353
Epoch 43/50
23/23 [==============================] - 0s 3ms/step - loss: 111.5967
Epoch 44/50
23/23 [==============================] - 0s 3ms/step - loss: 110.9505
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 108.0784
Epoch 46/50
23/23 [==============================] - 0s 3ms/step - loss: 107.3870
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 105.7821
Epoch 48/50
23/23 [==============================] - 0s 3ms/step - loss: 104.5318
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 104.1364
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 102.7131

evaluate the model on the test data

In [30]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 3ms/step - loss: 107.0916

107.091552734375

compute the mean squared error between the predicted concrete strength and the actual concrete strength.

import the mean_squared_error function from Scikit-learn.

In [32]:
from sklearn.metrics import mean_squared_error

In [33]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

107.0915552327258 0.0

create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [38]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE " + str(i+1) + ": " + str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)
    
mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 37.567928314208984
MSE 2: 44.91931915283203
MSE 3: 33.44789505004883
MSE 4: 49.15184020996094
MSE 5: 39.67652893066406
MSE 6: 42.57588195800781
MSE 7: 48.791873931884766
MSE 8: 35.42829513549805
MSE 9: 47.695892333984375
MSE 10: 42.20347213745117
MSE 11: 40.47852325439453
MSE 12: 36.88243103027344
MSE 13: 43.946197509765625
MSE 14: 47.662933349609375
MSE 15: 40.073333740234375
MSE 16: 33.56441879272461
MSE 17: 41.342933654785156
MSE 18: 40.13775634765625
MSE 19: 39.55025863647461
MSE 20: 41.12554168701172
MSE 21: 34.403446197509766
MSE 22: 47.23748016357422
MSE 23: 44.528160095214844
MSE 24: 39.348106384277344
MSE 25: 38.375919342041016
MSE 26: 46.5705451965332
MSE 27: 37.34931945800781
MSE 28: 39.419715881347656
MSE 29: 44.32731246948242
MSE 30: 40.27854537963867
MSE 31: 44.820762634277344
MSE 32: 37.95246124267578
MSE 33: 37.5001220703125
MSE 34: 37.59492492675781
MSE 35: 36.868377685546875
MSE 36: 43.46195602416992
MSE 37: 40.776981353759766
MSE 38: 41.989471435546875
MSE 39: 38.1932373046875
MSE 40: 38.24728012084961
MSE 41: 47.499080657958984
MSE 42: 37.97343444824219
MSE 43: 49.255096435546875
MSE 44: 49.45330047607422
MSE 45: 44.743499755859375
MSE 46: 44.8541145324707
MSE 47: 40.66593933105469
MSE 48: 42.57505416870117
MSE 49: 44.97188186645508
MSE 50: 41.932533264160156


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 41.58782617052173
Standard Deviation: 4.2295062434345585